<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/src/css/styles.css">
</head>
<body>
    <header>
        <h1>Mi Tienda mascotera</h1>
    </header>
    
    <main>
        <div class="product">
            <h2>ALFOMBRA PARA LAMER ANTIESTRES</h2>
            <img src="/src/img/Producto 1.png" alt="Imagen del Producto 1">
            <p>De caucho natural,con sopapas para pegar sobre superficies lisas.Medidas: 16cm ancho x 18cm alto.</p>
            <p>Precio: $5500</p>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Producto 1', 10)">Agregar al Carrito</button>
        </div>
        <div class="product">
            <h2>JUGUETE CON SOPAPA</h2>
            <img src="/src/img/Producto 2.png" alt="Imagen del Producto 2">
            <p>Color rojo,tiene de una soga y pelota resistente las cuales van unidos a una sopapa que permite adherirlo a superficies lisas como el piso o pared cerámica. El mordillo a su vez ayuda a mantener la higiene bucal del perro..</p>
            <p>Precio: $9200</p>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Producto 2', 15)">Agregar al Carrito</button>
        </div>
        <div class="product">
            <h2>MORDILLO MASAJEADOR DE ENCIAS</h2>
            <img src="/src/img/Producto 3.png" alt="Imagen del Producto 3">
            <p>Ideal para el cuidado dental gracias a su forma que ayuda a mantener a nuestra mascota sin sarro o restos de comida al tiempo que juega y compartes con el.</p>
            <p>Precio: $5300</p>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Producto 3', 20)">Agregar al Carrito</button>
        </div>
        <div class="product">
            <h2>PELOTA CON PINCHOS</h2>
            <img src="/src/img/Producto 4.png" alt="Imagen del Producto 4">
            <p>Con pinchos de goma para la higuiene dental</p>
            <p>Precio: $6700</p>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Producto 4', 25)">Agregar al Carrito</button>
        </div>
        
        <div id="carrito">
            <h2>Carrito de Compras</h2>
            <ul id="lista-carrito"></ul>
            <p id="total">Total: $0</p>
            <button id="comprar" onclick="redireccionarFormulario()">Comprar</button>
        </div>
    </main>

    <footer>
        <p>2024</p>
    </footer>

    <script src="/src/js/scripts.js"></script>
</body>
</html>
