body,html {
    background-color: #f5fffe; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color:#007bff !important;
    color: white;
    text-align: center;
    padding: 10px 0;
    
}

header h1{
    margin: 0;
}

main {
    padding: 20px;
    flex: 1;
}

/* Estilos adicionales para ajustar el tamaño y la separación */
.product {
    width: 100%;
    max-width: 500px; /* Tamaño máximo del contenedor del producto */
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto; /* Centrar el contenedor del producto */
}

.product img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Tamaño máximo para las imágenes */
    display: block;
    margin: 0 auto 10px;
}

.product h2, .product p, .product button {
    font-size: 1rem;
}

.product h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 5px;
}

.product button {
    margin-top: 10px;
    align-self: center;
}




.agregar-carrito {
    background-color: #FF69B4; /* Rosa */
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.agregar-carrito:hover {
    background-color: #FF1493; /* Rosa más oscuro */
    transform: scale(1.02);
}

#carrito {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
}

#carrito h2 {
    margin-top: 0;
}

#lista-carrito {
    list-style-type: none;
    padding: 0;
}

#lista-carrito li {
    margin: 5px 0;
}

#comprar {
    background-color: #FF69B4; /* Rosa */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#comprar:hover {
    background-color: #FF1493; /* Rosa más oscuro */
}

#formulario-compra {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
}

#formulario-compra h2 {
    margin-top: 0;
}

#formulario-compra label {
    display: block;
    margin-top: 10px;
}

#formulario-compra input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

#formulario-compra button {
    background-color: #FF69B4; /* Rosa */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#formulario-compra button:hover {
    background-color: #FF1493; /* Rosa más oscuro */
}

.container{
    margin-top: 20px;
}

.footer-custom.fixed-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030;
     /* Ensure the footer has a background color */
    padding: 5px 0;
}
.content {
    min-height: calc(100vh - 100px)
}
.footer {
    background-color: #f1f1f1;
    padding: 20px;
}

.history {
    margin-bottom: 30px; /* Espacio inferior entre secciones de historia */
    padding: 20px;
    background-color: #f8f9fa; /* Fondo ligero para mejor legibilidad del texto */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

main {
    flex: 1;
}

.Contacto{
    text-align: center;
    text-shadow: 2px 2px 3px gray;
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 50px;
}

.social-icon {
    color: #ffffff; /* Color blanco para los íconos */
    padding: 1px; /* Espaciado interno */
    margin-right: 2px; /* Margen derecho entre íconos */
    border-radius: 50%; /* Bordes redondeados */
}
.social-icon:hover {
    color: #ffffff; /* Color blanco al pasar el mouse */
}


.alert-message {
    position: fixed;
    top: 70px; /* Ajusta según la ubicación deseada */
    right: 20px;
    width: 300px; /* Ajusta el ancho según sea necesario */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}