body {
    background-color: #E6E6FA; /* Lila */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #8A2BE2; /* Violeta */
    color: white;
    text-align: center;
    padding: 10px 0;
    
}

header h1, footer p {
    margin: 0;
}

main {
    padding: 20px;
    flex: 1;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: white;
    text-align: center; /* Centrar el contenido del producto */
}

.product h2 {
    margin: 0 0 10px 0;
}

.product img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px auto; /* Centrar la imagen */
}

.agregar-carrito {
    background-color: #FF69B4; /* Rosa */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.agregar-carrito:hover {
    background-color: #FF1493; /* Rosa más oscuro */
    transform: scale(1.05);
}

#carrito {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
}

#carrito h2 {
    margin-top: 0;
}

#lista-carrito {
    list-style-type: none;
    padding: 0;
}

#lista-carrito li {
    margin: 5px 0;
}

#comprar {
    background-color: #FF69B4; /* Rosa */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#comprar:hover {
    background-color: #FF1493; /* Rosa más oscuro */
}

#formulario-compra {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
}

#formulario-compra h2 {
    margin-top: 0;
}

#formulario-compra label {
    display: block;
    margin-top: 10px;
}

#formulario-compra input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

#formulario-compra button {
    background-color: #FF69B4; /* Rosa */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

#formulario-compra button:hover {
    background-color: #FF1493; /* Rosa más oscuro */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('img/banner.jpg');
    background-size: cover;
    background-position: center;
}

main {
    flex: 1;
}
