{% extends "base.html" %}


{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bienvenido a Pet Zone</h1>
    <p class="lead"><strong>Tu tienda de confianza para todos los productos de tus mascotas.</strong></p>
    <p class="lead"><strong>Conoce más sobre nosotros y nuestra historia.</strong></p>
</div>

<div>
    <hr>
</div>

<div class="container">
        <h3>Nuestra Historia</h3>

        <hr>

        <div class="row">

            <div class="histroy col-md-6">
                <p class="textp">Pet Zone nació de la pasión por los animales y el deseo de proporcionar productos de calidad para mejorar la vida de nuestras queridas mascotas. Fundada en 2024, nuestra tienda se ha dedicado a ofrecer una amplia gama de productos y servicios que satisfacen las necesidades de mascotas y sus dueños.</p>
            
                <p class="textp">Nuestro viaje comenzó con un pequeño local y un gran sueño: crear un lugar donde los amantes de los animales puedan encontrar todo lo necesario para cuidar a sus compañeros. Con el apoyo de nuestra comunidad, hemos crecido y evolucionado, pero nuestra misión sigue siendo la misma: brindar productos excepcionales y un servicio amable y conocedor.</p>
            
                <p class="textp">Estamos comprometidos con la salud y el bienestar de las mascotas y trabajamos estrechamente con proveedores de confianza para asegurar que cada producto en nuestra tienda cumple con los más altos estándares de calidad. Además, nuestro equipo está compuesto por expertos apasionados que están siempre listos para ofrecer consejos y asistencia personalizada.</p>
            
                <p class="textp">En Pet Zone, creemos que las mascotas son parte de la familia y merecen lo mejor. Te invitamos a visitar nuestra tienda y descubrir por qué somos el lugar favorito para los dueños de mascotas en nuestra comunidad.</p>
            </div>
            
            <div class="histroy col-md-6">
        
                <iframe width="630" height="460" src="https://www.youtube.com/embed/XCkVadh29us?si=s9OV20HI0pZpwu8q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
            </div>
    </div>
    
</div>
{% endblock %}
