
{% extends "base.html" %}

{% block content%}
    <main>

    <a href="/nuevo_producto" class="agregar-carrito btn btn-primary">Agregar Nuevo Producto</a>

    <div class="container mt-8">
        <div class="row">
            {% for i in productos %}
            <div class="col-md-6 mb-4 d-flex justify-content-center">
                <div class="product d-flex flex-column">
                    <img src="{{ url_for('static', filename='img/Producto 1.png') }}" alt="Imagen del Producto 1">
                    <h2>{{ i[1] }}</h2>
                    <p>{{ i[2] }}</p>
                    <p>Precio: ${{ i[3] }}</p>
                    <button class="agregar-carrito" onclick="agregarAlCarrito('{{ i[1] }}', '{{ i[3] }}')">Agregar al Carrito</button>
                </div>
            </div>
            {% endfor %}
         </div>
    </div>
        
        

    <!----   {% for i in productos %}
        <div class="product">
            <h2>{{i[1]}}</h2>
            <img src="{{url_for('static',filename='img/Producto 1.png')}}" alt="Imagen del Producto 1">
            <p>{{i[2]}}</p>
            <p>Precio: ${{i[3]}}</p>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Producto 1', 10)">Agregar al Carrito</button>
        </div>
        {% endfor %}
        <div class="product">
            <h2>JUGUETE CON SOPAPA</h2>
            <img src="{{url_for('static',filename='img/Producto 2.png')}}" alt="Imagen del Producto 2">
            <p>Color rojo,tiene de una soga y pelota resistente las cuales van unidos a una sopapa que permite adherirlo a superficies lisas como el piso o pared cerámica. El mordillo a su vez ayuda a mantener la higiene bucal del perro..</p>
            <p>Precio: $9200</p>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Producto 2', 15)">Agregar al Carrito</button>
        </div>
        <div class="product">
            <h2>MORDILLO MASAJEADOR DE ENCIAS</h2>
            <img src="{{url_for('static',filename='img/Producto 3.png')}}" alt="Imagen del Producto 3">
            <p>Ideal para el cuidado dental gracias a su forma que ayuda a mantener a nuestra mascota sin sarro o restos de comida al tiempo que juega y compartes con el.</p>
            <p>Precio: $5300</p>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Producto 3', 20)">Agregar al Carrito</button>
        </div>
        <div class="product">
            <h2>PELOTA CON PINCHOS</h2>
            <img src="{{url_for('static',filename='img/Producto 4.png')}}" alt="Imagen del Producto 4">
            <p>Con pinchos de goma para la higuiene dental</p>
            <p>Precio: $6700</p>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Producto 4', 25)">Agregar al Carrito</button>
        </div>
        <div class="product">
            <h2 hidden="false">{{productos.id}}</h2>
            <h2>{{productos.nombre}}</h2>
            <img src="{{url_for('static',filename='img/Producto 4.png')}}" alt="Imagen del Producto 4">
            <p>{{productos.descripcion}}</p>
            <p>Precio: ${{productos[3]}}</p>
            <button class="agregar-carrito" onclick="agregarAlCarrito('Producto 4', 25)">Agregar al Carrito</button>
        </div>
        
        <div id="carrito">
            <h2>Carrito de Compras</h2>
            <ul id="lista-carrito"></ul>
            <p id="total">Total: $0</p>
            <button id="comprar" onclick="redireccionarFormulario()">Comprar</button>
        </div>-->
    </main>

    <script src="{{url_for('static',filename='js/scripts.js')}}"></script>

{% endblock%}

